img {
	width:150px;
	height:150px;
}

#v1 {
	margin:25px 0px 0px 0px;
}

a {
	text-decoration:none;
}

a:link, a:visited {
	color:black;
}

a:hover {
	text-decoration:underline;
}

.heading {
	height:400px;
	width:240px;
	padding:10px;
	border:5px solid green;
	border-radius:25px 25px 25px 25px;
	margin:auto;
	text-align:center;
	float:left;
	position:fixed;
}

.email-logo {
	height:13px;
	width:18px;
}

.facebook-logo {
	height:20px;
	width:20px;
}

.instagram-logo {
	height:20px;
	width:20px;
}

.linkedin-logo {
	height:20px;
	width:20px;
}

.contact {
	list-style-type:none;
	text-align:left;
}

.description {
	width:940px;
	padding:10px;
	border:5px solid green;
	border-radius:25px 25px 0px 0px;
	margin:0px 0px 0px 280px;
	text-align:center;
}

.interests {
	width:940px;
	padding:10px;
	border:5px solid green;
	border-radius:0px 0px 0px 0px;
	margin:0px 0px 0px 280px;
	text-align:center;
}

.interest-list {
	text-align:left;
}

.ilist {
	list-style-type:none;
}

.young-life {
	font-weight:bold;
	display:inline-block;
}

.music {
	font-weight:bold;
	display:inline-block;
}

.art {
	font-weight:bold;
	display:inline-block;
}

.parkour-freerunning {
	font-weight:bold;
	display:inline-block;
}

.comic-books {
	font-weight:bold;
	display:inline-block;
}

.video-games {
	font-weight:bold;
	display:inline-block;
}

.volleyball {
	font-weight:bold;
	display:inline-block;
}

.my-life {
	height:500px;
	width:940px;
	padding:10px;
	border:5px solid green;
	border-radius:0px 0px 25px 25px;
	margin:0px 0px 0px 280px;
	text-align:center;
}

.sword-pic {
	width:250px;
	height:180px;
	float:left;
	padding:0px 10px 25px 75px;
	display:block;
}

.yl {
	width:0px;
	height:0px;
	margin:0px 0px 0px 0px;
	display:block;
}

.yl-pic {
	width:250px;
	height:180px;
	margin:0px 0px 0px 0px;
	padding:0px 10px 25px 10px;
	display:block;
}

.shelter-pic {
	width:250px;
	height:180px;
	float:right;
	padding:0px 75px 25px 0px;
	display:block;
}

.vball-pic {
	width:250px;
	height:180px;
	display:block;
	float:left;
	padding:0px 10px 25px 75px;
	flex-wrap:wrap;
}

.drawing {
	width:0px;
	height:0px;
	margin:180px 0px 0px 0px;
	display:block;
	flex-wrap:wrap;
}

.drawing-pic {
	width:250px;
	height:180px;
	margin:0px 0px 0px 0px;
	padding:25px 10px 25px 10px;
	display:block;
	flex-wrap:wrap;
}

.parkour-pic {
	width:250px;
	height:180px;
	float:right;
	padding:0px 75px 25px 0px;
	display:block;
}
