body {
	background-color:#f5fffa;
}

img {
	width:150px;
	height:150px;
}

#v1 {
	margin:25px 0px 0px 0px;
}

a {
	text-decoration:none;
}

a:link, a:visited {
	color:black;
}

a:hover {
	text-decoration:underline;
}

.heading {
	height:400px;
	width:240px;
	padding:10px;
	border:5px solid black;
	border-radius:25px 25px 25px 25px;
	margin:auto;
	text-align:left;
	float:left;
	position:fixed;
	font-family:helvetica;
	box-shadow:5px 5px 5px #888888;
}

.email-logo {
	height:13px;
	width:18px;
}

.facebook-logo {
	height:22px;
	width:22px;
}

.instagram-logo {
	height:22px;
	width:22px;
}

.linkedin-logo {
	height:22px;
	width:22px;
}

.contact {
	list-style-type:none;
	text-align:left;
}

.description {
	width:940px;
	padding:10px;
	border:5px solid black;
	border-radius:25px 25px 0px 0px;
	margin:0px 0px 0px 280px;
	text-align:left;
	font-family:arial;
	box-shadow:10px 10px 10px #888888;
}

.interests {
	width:940px;
	padding:10px;
	border:5px solid black;
	border-radius:0px 0px 0px 0px;
	margin:0px 0px 0px 280px;
	text-align:center;
	font-family:arial;
	box-shadow:10px 10px 10px #888888;
}

.interest-list {
	text-align:left;
}

.ilist {
	list-style-type:none;
}

.young-life {
	font-weight:bold;
	display:inline-block;
}

.music {
	font-weight:bold;
	display:inline-block;
}

.art {
	font-weight:bold;
	display:inline-block;
}

.parkour-freerunning {
	font-weight:bold;
	display:inline-block;
}

.comic-books {
	font-weight:bold;
	display:inline-block;
}

.video-games {
	font-weight:bold;
	display:inline-block;
}

.volleyball {
	font-weight:bold;
	display:inline-block;
}

.my-life {
	height:520px;
	width:940px;
	padding:10px;
	border:5px solid black;
	border-radius:0px 0px 25px 25px;
	margin:0px 0px 0px 280px;
	text-align:center;
	font-family:arial;
	box-shadow: 10px 10px 5px #888888;
}

.friendHeading {
	padding:0px 200px 0px 165px;
}

.ylHeading {
	padding:0px 190px 0px 10px;
}

.sword-pic {
	width:250px;
	height:180px;
	float:left;
	padding:0px 10px 15px 75px;
	display:block;
}

.yl {
	width:0px;
	height:0px;
	margin:0px 0px 0px 0px;
	display:block;
}

.yl-pic {
	width:240px;
	height:180px;
	margin:0px 0px 0px 0px;
	padding:0px 10px 15px 10px;
	display:block;
}

.shelter-pic {
	width:250px;
	height:180px;
	float:right;
	padding:0px 85px 15px 0px;
	display:block;
}

.vballHeading {
	padding:0px 200px 0px 140px;
}

.drawingsHeading {
	padding:0px 190px 0px 0px;
}
.vball-pic {
	width:250px;
	height:180px;
	display:block;
	float:left;
	padding:0px 10px 25px 75px;
	flex-wrap:wrap;
}

.drawing {
	width:0px;
	height:0px;
	margin:0px 0px 0px 0px;
	display:block;
	flex-wrap:wrap;
}

.drawing-pic {
	width:240px;
	height:180px;
	margin:0px 0px 0px 0px;
	padding:0px 10px 25px 10px;
	display:block;
	flex-wrap:wrap;
}

.parkour-pic {
	width:250px;
	height:180px;
	float:right;
	padding:0px 85px 25px 0px;
	display:block;
}
