img {
	width:100px;
	height:100px;
}

a {
	text-decoration:none;
}

a:link, a:visited {
	color:black;
}

a:hover {
	text-decoration:underline;
}

.heading {
	height:337px;
	width:240px;
	padding:10px;
	border:5px solid green;
	margin:auto;
	text-align:center;
	float:left;
}

.contact {
	list-style-type:none;
	text-align:left;
}

.description {
	width:960px;
	padding:10px;
	border:5px solid green;
	margin:auto;
	text-align:center;
}

.interests {
	width:960px;
	padding:10px;
	border:5px solid green;
	margin:auto;
	text-align:center;
}

.interest-list {
	text-align:left;
}

.ilist {
	list-style-type:none;
}

.young-life {
	font-weight:bold;
	display:inline-block;
}

.music {
	font-weight:bold;
	display:inline-block;
}

.art {
	font-weight:bold;
	display:inline-block;
}

.parkour-freerunning {
	font-weight:bold;
	display:inline-block;
}

.comic-books {
	font-weight:bold;
	display:inline-block;
}

.video-games {
	font-weight:bold;
	display:inline-block;
}
